@model Cadastro_Herois
@{
    ViewData["Title"] = "Apagar Herois";
}
<div class="text-center">
    <h1>Deseja realmente apagar </h1>
    <p>O Herói será apagado completamente de nosso banco de dados</p>
</div>
<div class="d-grid gap-2">
    <a role="button" class="btn btn-primary btn-block" asp-controller="Cadastro" asp-action="Index">Cancelar exclusão</a>
    <a role="button" class="btn btn-danger btn-block" asp-controller="Cadastro" asp-action="Apagar">Confirmar exclusão</a>
</div>
