@{
    ViewData["Title"] = "Cadastro Herois";
}

<div class="text-center">
    <h1 class="display-4">Local Onde ficara o cadastro dos herois</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
